@font-face {
    font-family: rajdhani-bold;
    src: url(../fonts/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: rajdhani-light;
    src: url(../fonts/Rajdhani-Light.ttf);
}

@font-face {
    font-family: rajdhani-medium;
    src: url(../fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: rajdhani;
    src: url(../fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: rajdhani-semibold;
    src: url(../fonts/Rajdhani-SemiBold.ttf);
}

body{
    font-family: rajdhani;
    background-color: #aa21b3;
    background-image: url("../img/index/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 1.2;
}

h2{
    font-weight: bolder;
    font-family: rajdhani-bold;
    color: #ffdb55;
    margin: 20px 0;
}

button{
    color: #3e2564;
    background-color: #ffdb55;
    font-family: rajdhani-bold;
    border: none;
    padding: 10px 40px;
    margin: 20px;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;

    box-shadow: -10px 16px 30px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: -10px 16px 30px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -10px 16px 30px 0px rgba(0,0,0,0.15);
}
button a{
    text-decoration: none;
    color: #3e2564;

}
button a:hover{
    color: #aa21b3;
}

