body {
    font-family: rajdhani-bold;
    color: #ffffff;
    padding: 0 20px 200px 20px;
}
.splash{
    margin: auto;
    text-align: center;
    padding: 0;
    max-width: 1500px;
    position: relative;
}

.splash .lang-switch{
    width: 150px;
    margin-top: 40px;
    position: absolute;
    top:0;
    right: 20%;
    text-align: right;
}
.splash .lang-switch #imageDropdown{
    white-space: nowrap;
    cursor: pointer;
    width: 150px;
}

.splash .lang-switch #imageDropdown:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.splash .lang-list{
    display: none;
    width: 100%;
    color: #ffffff;
    text-align: right;
    width: 150px;
}
.splash .lang-list a{
    text-decoration: none;
    color: #ffffff;
}
.splash p{
    color: white;

}
.splash p.yellow{
    color: #ffdb55;
}

.splash .logo{
    width: 85%;
}
.splash .materiel{
    width: 80%;
    margin: 40px auto 5px;
 }
.splash .tools{
    width: 27%;
    margin: 15px auto 20px;
}

.splash .cards{
    width:65%;
    margin: 20px auto 5px;
}

.splash .planet{
    width: 50%;
}

.splash .box-ending{
    width: 80%;
    margin: auto;
}

.splash .box-ending h2{
    margin-top: 50px;
    line-height: 1;
}
.splash .box{
    float: left;
    margin-top: 20px;
    width: 100%;
}

.splash .announce{
    color: #ffdb55;
    background: rgba(0,0,0,.2);
    padding: 20px;
    border: 5px solid #ffdb55;
    border-radius: 20px;
    margin: 50px 0 10px 0;
    font-size: 2em;
    line-height: 1em;
}

.splash .sortie{
    color: #ffdb55;
    font-size: 1.5em;
    white-space: nowrap;
}

.splash .logo_SM{
    display: block;
    width: 200px;
    margin: 60px auto 0;
}

.splash .social{
    display: block;
    margin: 40px auto 0;
    white-space: nowrap;
}
.splash .social a{
    width: 60px;
    height: 60px;
    background: red;
    color: transparent;
    display: inline-block;
    background: url("../img/index/social.png");
    background-size: auto 40px;
    background-repeat: no-repeat;
    margin: 15px 10px;
}
.splash .social a.insta{ background-position: 10px 10px;}
.splash .social a.twitter{ background-position: -60px 10px;}
.splash .social a.facebook{ background-position: -150px 10px;}
.splash .social a.youtube{ background-position: -225px 10px;}

.splash .copyright{
    display: block;
    width: 330px;
    margin: 40px auto 0;
}

/* Mobile version */
@media (max-width: 768px) {

    body{
        background-size: 200%;
    }
    .splash .logo {
        width: 130%;
        margin-left: -13%;
    }

    .splash .lang-switch{
        margin-top: 5px;
        right: 5px;
    }
    .splash .cards,
    .splash .materiel
    {
        width: 100%;
    }
    .splash .tools{
        width: 60%;
    }

    .splash .announce{
        margin-top:20px;
        font-size: 1.7em;
    }
    button {
        padding: 7px 25px;
        margin:10px;
        font-size: 0.8em;
    }

}